body {
}

#userCreate {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
    margin: 0px 0px 25px 50px;
    color: gray;
    display: table;
}



.btn2 {
    float: right;
}

.btnCheckOut {
    position: absolute;
    margin-left: -100px;
    left: 50%;
    width: 200px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: skyblue;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: solid;
}

.btn-default {
    float: left;
    width: 100px;
}

.orderAlign {
    /* position:absolute;
    margin-left:-100px;
    left:40%;
    padding:10px;
   
    display:inline;*/
    display: block;
    clear: both;
    margin: 25px 0px 25px 90px;
}

.checkoutOrder {
    /* position:absolute;
    margin-left:-100px;
    left:40%;
    padding:30px;
    
    margin-bottom:-50px;
    bottom:5%;*/
    display: block;
    clear: both;
    margin: 25px 0px 25px 90px;
}

.submitOrder {
    position: absolute;
    margin-left: -100px;
    left: 40%;
    padding: 30px;
}

th, td {
    padding: 15px;
    text-align: center;
}
